/*Table & mobile*/
@media (max-width: 1023px) {/*26|4:46*/
    .btn {
        padding: 15px 16px;
    }

    #nav .subnav a {/*26|12:03*/
        padding: 5px 12px;/*26|12:52*/
    }

    .contact-form .form-control {
        padding: 15px;
    }

    .contact-info {
        line-height: 2; /*26|14:00*/
    }
   
    .socials-list {
        font-size: 48px;/*26| 7:55*/
    }

    #footer .socials-list a {
        margin: 0 8px; /*26|9:07*/
    }

    #footer .coppyright a { /*26| 11:00*/
        padding: 12px 0;
        display: inline-block;
    }
} 

/*Tablet*/
@media (min-width: 740px) and (max-width:1023px){
    
}

/*Mobile*/
@media (max-width: 740px) {

    
    .s-full-width,/*25|8:49*/
    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;/*25|7:18*/
    }

    #header {
        overflow: hidden;/*23|14:05*/
    }

    #header .mobile-menu-btn {
        display: block;
    }
    
    #header .search-btn {
        display: none;
    }

    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;/*23| 18:34*/
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav{
        position: initial;/*23|15:04*/
        background: #333;/*23| 15:46*/
    }

    #nav .subnav a{
        color: #fff;/*23|16:07 */
        padding: 5px 41px; /*23|17:02*/
    }
    
    /* #content .member-item {/*24| 4:17*/
       /* margin-top: 30px; 
     /*   width: 100%;
     24| 12:32
   /* } */

    #content .member-img {/*24| 5:16*/
        width: 60%;
    }

    .contact-form {/*24|5:03*/
        margin-top: 32px;/*26|17:14*/
    }


}